<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gains_page.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @gains_page.body %>
</p>

<%= link_to 'Edit', edit_gains_page_path(@gains_page) %> |
<%= link_to 'Back', gains_pages_path %>
